<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>+93</string>
		<key>country</key>
		<string>AF</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+355</string>
		<key>country</key>
		<string>AL</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+213</string>
		<key>country</key>
		<string>DZ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1684</string>
		<key>country</key>
		<string>AS</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+376</string>
		<key>country</key>
		<string>AD</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+244</string>
		<key>country</key>
		<string>AO</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1264</string>
		<key>country</key>
		<string>AI</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1268</string>
		<key>country</key>
		<string>AG</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+54</string>
		<key>country</key>
		<string>AR</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+374</string>
		<key>country</key>
		<string>AM</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+297</string>
		<key>country</key>
		<string>AW</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+61</string>
		<key>country</key>
		<string>AU</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+43</string>
		<key>country</key>
		<string>AT</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+994</string>
		<key>country</key>
		<string>AZ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1242</string>
		<key>country</key>
		<string>BS</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+973</string>
		<key>country</key>
		<string>BH</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+880</string>
		<key>country</key>
		<string>BD</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1246</string>
		<key>country</key>
		<string>BB</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+375</string>
		<key>country</key>
		<string>BY</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+32</string>
		<key>country</key>
		<string>BE</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+501</string>
		<key>country</key>
		<string>BZ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+229</string>
		<key>country</key>
		<string>BJ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1441</string>
		<key>country</key>
		<string>BM</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+975</string>
		<key>country</key>
		<string>BT</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+387</string>
		<key>country</key>
		<string>BA</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+267</string>
		<key>country</key>
		<string>BW</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+55</string>
		<key>country</key>
		<string>BR</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+246</string>
		<key>country</key>
		<string>IO</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+359</string>
		<key>country</key>
		<string>BG</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+226</string>
		<key>country</key>
		<string>BF</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+257</string>
		<key>country</key>
		<string>BI</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+855</string>
		<key>country</key>
		<string>KH</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+237</string>
		<key>country</key>
		<string>CM</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1</string>
		<key>country</key>
		<string>CA</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+238</string>
		<key>country</key>
		<string>CV</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+ 345</string>
		<key>country</key>
		<string>KY</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+236</string>
		<key>country</key>
		<string>CF</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+235</string>
		<key>country</key>
		<string>TD</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+56</string>
		<key>country</key>
		<string>CL</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+86</string>
		<key>country</key>
		<string>CN</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+61</string>
		<key>country</key>
		<string>CX</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+57</string>
		<key>country</key>
		<string>CO</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+269</string>
		<key>country</key>
		<string>KM</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+242</string>
		<key>country</key>
		<string>CG</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+682</string>
		<key>country</key>
		<string>CK</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+506</string>
		<key>country</key>
		<string>CR</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+385</string>
		<key>country</key>
		<string>HR</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+53</string>
		<key>country</key>
		<string>CU</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+537</string>
		<key>country</key>
		<string>CY</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+420</string>
		<key>country</key>
		<string>CZ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+45</string>
		<key>country</key>
		<string>DK</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+253</string>
		<key>country</key>
		<string>DJ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1767</string>
		<key>country</key>
		<string>DM</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1849</string>
		<key>country</key>
		<string>DO</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+593</string>
		<key>country</key>
		<string>EC</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+20</string>
		<key>country</key>
		<string>EG</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+503</string>
		<key>country</key>
		<string>SV</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+240</string>
		<key>country</key>
		<string>GQ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+291</string>
		<key>country</key>
		<string>ER</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+372</string>
		<key>country</key>
		<string>EE</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+251</string>
		<key>country</key>
		<string>ET</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+298</string>
		<key>country</key>
		<string>FO</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+679</string>
		<key>country</key>
		<string>FJ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+358</string>
		<key>country</key>
		<string>FI</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+33</string>
		<key>country</key>
		<string>FR</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+594</string>
		<key>country</key>
		<string>GF</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+689</string>
		<key>country</key>
		<string>PF</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+241</string>
		<key>country</key>
		<string>GA</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+220</string>
		<key>country</key>
		<string>GM</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+995</string>
		<key>country</key>
		<string>GE</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+49</string>
		<key>country</key>
		<string>DE</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+233</string>
		<key>country</key>
		<string>GH</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+350</string>
		<key>country</key>
		<string>GI</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+30</string>
		<key>country</key>
		<string>GR</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+299</string>
		<key>country</key>
		<string>GL</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1473</string>
		<key>country</key>
		<string>GD</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+590</string>
		<key>country</key>
		<string>GP</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1671</string>
		<key>country</key>
		<string>GU</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+502</string>
		<key>country</key>
		<string>GT</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+224</string>
		<key>country</key>
		<string>GN</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+245</string>
		<key>country</key>
		<string>GW</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+595</string>
		<key>country</key>
		<string>GY</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+509</string>
		<key>country</key>
		<string>HT</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+504</string>
		<key>country</key>
		<string>HN</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+36</string>
		<key>country</key>
		<string>HU</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+354</string>
		<key>country</key>
		<string>IS</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+91</string>
		<key>country</key>
		<string>IN</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+62</string>
		<key>country</key>
		<string>ID</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+964</string>
		<key>country</key>
		<string>IQ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+353</string>
		<key>country</key>
		<string>IE</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+972</string>
		<key>country</key>
		<string>IL</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+39</string>
		<key>country</key>
		<string>IT</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1876</string>
		<key>country</key>
		<string>JM</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+81</string>
		<key>country</key>
		<string>JP</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+962</string>
		<key>country</key>
		<string>JO</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+7</string>
		<key>country</key>
		<string>KZ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+254</string>
		<key>country</key>
		<string>KE</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+686</string>
		<key>country</key>
		<string>KI</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+965</string>
		<key>country</key>
		<string>KW</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+996</string>
		<key>country</key>
		<string>KG</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+371</string>
		<key>country</key>
		<string>LV</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+961</string>
		<key>country</key>
		<string>LB</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+266</string>
		<key>country</key>
		<string>LS</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+231</string>
		<key>country</key>
		<string>LR</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+423</string>
		<key>country</key>
		<string>LI</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+370</string>
		<key>country</key>
		<string>LT</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+352</string>
		<key>country</key>
		<string>LU</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+261</string>
		<key>country</key>
		<string>MG</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+265</string>
		<key>country</key>
		<string>MW</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+60</string>
		<key>country</key>
		<string>MY</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+960</string>
		<key>country</key>
		<string>MV</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+223</string>
		<key>country</key>
		<string>ML</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+356</string>
		<key>country</key>
		<string>MT</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+692</string>
		<key>country</key>
		<string>MH</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+596</string>
		<key>country</key>
		<string>MQ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+222</string>
		<key>country</key>
		<string>MR</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+230</string>
		<key>country</key>
		<string>MU</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+262</string>
		<key>country</key>
		<string>YT</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+52</string>
		<key>country</key>
		<string>MX</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+377</string>
		<key>country</key>
		<string>MC</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+976</string>
		<key>country</key>
		<string>MN</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+382</string>
		<key>country</key>
		<string>ME</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1664</string>
		<key>country</key>
		<string>MS</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+212</string>
		<key>country</key>
		<string>MA</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+95</string>
		<key>country</key>
		<string>MM</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+264</string>
		<key>country</key>
		<string>NA</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+674</string>
		<key>country</key>
		<string>NR</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+977</string>
		<key>country</key>
		<string>NP</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+31</string>
		<key>country</key>
		<string>NL</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+599</string>
		<key>country</key>
		<string>AN</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+687</string>
		<key>country</key>
		<string>NC</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+64</string>
		<key>country</key>
		<string>NZ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+505</string>
		<key>country</key>
		<string>NI</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+227</string>
		<key>country</key>
		<string>NE</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+234</string>
		<key>country</key>
		<string>NG</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+683</string>
		<key>country</key>
		<string>NU</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+672</string>
		<key>country</key>
		<string>NF</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1670</string>
		<key>country</key>
		<string>MP</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+47</string>
		<key>country</key>
		<string>NO</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+968</string>
		<key>country</key>
		<string>OM</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+92</string>
		<key>country</key>
		<string>PK</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+680</string>
		<key>country</key>
		<string>PW</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+507</string>
		<key>country</key>
		<string>PA</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+675</string>
		<key>country</key>
		<string>PG</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+595</string>
		<key>country</key>
		<string>PY</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+51</string>
		<key>country</key>
		<string>PE</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+63</string>
		<key>country</key>
		<string>PH</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+48</string>
		<key>country</key>
		<string>PL</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+351</string>
		<key>country</key>
		<string>PT</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1939</string>
		<key>country</key>
		<string>PR</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+974</string>
		<key>country</key>
		<string>QA</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+40</string>
		<key>country</key>
		<string>RO</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+250</string>
		<key>country</key>
		<string>RW</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+685</string>
		<key>country</key>
		<string>WS</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+378</string>
		<key>country</key>
		<string>SM</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+966</string>
		<key>country</key>
		<string>SA</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+221</string>
		<key>country</key>
		<string>SN</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+381</string>
		<key>country</key>
		<string>RS</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+248</string>
		<key>country</key>
		<string>SC</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+232</string>
		<key>country</key>
		<string>SL</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+65</string>
		<key>country</key>
		<string>SG</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+421</string>
		<key>country</key>
		<string>SK</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+386</string>
		<key>country</key>
		<string>SI</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+677</string>
		<key>country</key>
		<string>SB</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+27</string>
		<key>country</key>
		<string>ZA</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+500</string>
		<key>country</key>
		<string>GS</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+34</string>
		<key>country</key>
		<string>ES</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+94</string>
		<key>country</key>
		<string>LK</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+249</string>
		<key>country</key>
		<string>SD</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+597</string>
		<key>country</key>
		<string>SR</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+268</string>
		<key>country</key>
		<string>SZ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+46</string>
		<key>country</key>
		<string>SE</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+41</string>
		<key>country</key>
		<string>CH</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+992</string>
		<key>country</key>
		<string>TJ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+66</string>
		<key>country</key>
		<string>TH</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+228</string>
		<key>country</key>
		<string>TG</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+690</string>
		<key>country</key>
		<string>TK</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+676</string>
		<key>country</key>
		<string>TO</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1868</string>
		<key>country</key>
		<string>TT</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+216</string>
		<key>country</key>
		<string>TN</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+90</string>
		<key>country</key>
		<string>TR</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+993</string>
		<key>country</key>
		<string>TM</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1649</string>
		<key>country</key>
		<string>TC</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+688</string>
		<key>country</key>
		<string>TV</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+256</string>
		<key>country</key>
		<string>UG</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+380</string>
		<key>country</key>
		<string>UA</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+971</string>
		<key>country</key>
		<string>AE</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+44</string>
		<key>country</key>
		<string>GB</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1</string>
		<key>country</key>
		<string>US</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+598</string>
		<key>country</key>
		<string>UY</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+998</string>
		<key>country</key>
		<string>UZ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+678</string>
		<key>country</key>
		<string>VU</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+681</string>
		<key>country</key>
		<string>WF</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+967</string>
		<key>country</key>
		<string>YE</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+260</string>
		<key>country</key>
		<string>ZM</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+263</string>
		<key>country</key>
		<string>ZW</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+358</string>
		<key>country</key>
		<string>AX</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+591</string>
		<key>country</key>
		<string>BO</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+673</string>
		<key>country</key>
		<string>BN</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+61</string>
		<key>country</key>
		<string>CC</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+243</string>
		<key>country</key>
		<string>CD</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+225</string>
		<key>country</key>
		<string>CI</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+500</string>
		<key>country</key>
		<string>FK</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+44</string>
		<key>country</key>
		<string>GG</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+379</string>
		<key>country</key>
		<string>VA</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+852</string>
		<key>country</key>
		<string>HK</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+98</string>
		<key>country</key>
		<string>IR</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+44</string>
		<key>country</key>
		<string>IM</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+44</string>
		<key>country</key>
		<string>JE</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+850</string>
		<key>country</key>
		<string>KP</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+82</string>
		<key>country</key>
		<string>KR</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+856</string>
		<key>country</key>
		<string>LA</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+218</string>
		<key>country</key>
		<string>LY</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+853</string>
		<key>country</key>
		<string>MO</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+389</string>
		<key>country</key>
		<string>MK</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+691</string>
		<key>country</key>
		<string>FM</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+373</string>
		<key>country</key>
		<string>MD</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+258</string>
		<key>country</key>
		<string>MZ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+970</string>
		<key>country</key>
		<string>PS</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+872</string>
		<key>country</key>
		<string>PN</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+262</string>
		<key>country</key>
		<string>RE</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+7</string>
		<key>country</key>
		<string>RU</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+590</string>
		<key>country</key>
		<string>BL</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+290</string>
		<key>country</key>
		<string>SH</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1869</string>
		<key>country</key>
		<string>KN</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1758</string>
		<key>country</key>
		<string>LC</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+590</string>
		<key>country</key>
		<string>MF</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+508</string>
		<key>country</key>
		<string>PM</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1784</string>
		<key>country</key>
		<string>VC</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+239</string>
		<key>country</key>
		<string>ST</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+252</string>
		<key>country</key>
		<string>SO</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+47</string>
		<key>country</key>
		<string>SJ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+963</string>
		<key>country</key>
		<string>SY</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+886</string>
		<key>country</key>
		<string>TW</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+255</string>
		<key>country</key>
		<string>TZ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+670</string>
		<key>country</key>
		<string>TL</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+58</string>
		<key>country</key>
		<string>VE</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+84</string>
		<key>country</key>
		<string>VN</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1284</string>
		<key>country</key>
		<string>VG</string>
	</dict>
	<dict>
		<key>code</key>
		<string>+1340</string>
		<key>country</key>
		<string>VI</string>
	</dict>
    <dict>
        <key>code</key>
        <string>+211</string>
        <key>country</key>
        <string>SS</string>
    </dict>
    <dict>
        <key>code</key>
        <string>+381</string>
        <key>country</key>
        <string>XK</string>
    </dict>
</array>
</plist>
